<!-- Describe task in general -->

<p>
    你有一个数字，你需要确定这个数字中哪个数字是最大的。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个正整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>一个0-9的整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
