<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    You have a number and you need to determine which digit in this number is the biggest.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}max-digit.png" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A positive integer <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
    <strong>Output:</strong> An integer 0-9 <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
