<!-- Describe task in general -->

<p>
    Twoim zadaniem jest znalezienie największej cyfry w podanej liczbie.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Wejście:</strong> Dodatni {% if is_js %}number{% else %}integer{% endif %}.
</p>

<p>
    <strong>Wyjście:</strong> {% if is_js %}Number{% else %}Integer{% endif %} (0-9). 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykład:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
